@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sniglet:wght@400;800&display=swap');


body{
    background-image: url("../images/hot-air-balloons-4561267_1920.jpg");
    background-image:100vh 100vw fit-content ;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}
#bodyWrapper{
    background-color: rgba(34, 32, 33, 0.26);
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;

}
header > nav.navbar {
    font-size: 25px;
    color: blue;
}
#navbar-brand > a{
    font-size: 30px;
    font-family: Sniglet;
}
.hero-image>img{
    object-fit: contain;
    width: 80vw;
    height:80vh;
}
.container{
    display: flex;
    align-content: center;
    justify-content: center;
}
form{
    padding:20px;
    border-radius:10px;
}
.card{
    padding:11px;
    margin:0 auto;
}
.card>img{
    height: auto;
}
/* .updateButtons{
    display:none;
} */